[user]
	name = Nimesh Ghelani
	email = nimeshghelani@gmail.com
[core]
	editor = vim
[color]
	status = auto
	branch = auto
	ui = true
[alias]
	st = status
	co = checkout
	pm = push origin master
	lg = log --decorate --graph --oneline
[commit]
	gpgsign = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
